body {
  padding: 32px;
  background-color: #1646cc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  padding: 24px;
}

@media (max-width: 800px) {
  body {
    padding: 12px;
  }
  #container {
    padding: 8px;
  }
}
